# ===============================
# Build artifacts (user-space)
# ===============================
boilerplate/engine
boilerplate/memory_hog
boilerplate/cpu_hog
boilerplate/io_pulse

# ===============================
# Kernel module artifacts
# ===============================
*.ko
*.o
*.mod
*.mod.c
*.symvers
*.order
Module.symvers
modules.order
*.cmd
.tmp_versions/

# ===============================
# Root filesystems (IMPORTANT)
# ===============================
rootfs-base/
rootfs-*/

# ===============================
# Archives
# ===============================
*.tar.gz

# ===============================
# Logs & runtime files
# ===============================
*.log
logs/
tmp/
*.sock

# ===============================
# OS / Editor junk
# ===============================
*.swp
*~
.vscode/
